@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lato/Lato-Semibold.ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato/Lato-Regular.ttf");
}
* {
  background: transparent;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato";
}

legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}

input.alpha {
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
}

input.alpha:focus {
  outline: none;
}

input.alpha::-webkit-slider-thumb {
  height: 16px;
  width: 8px;
  background: #ffffff;
  margin-top: -4.5px;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}

input.alpha::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, #ffffff, #000000);
  border-radius: 2px;
  border: 0.2px solid #010101;
  cursor: pointer;
}

fieldset.background {
  width: 100%;
  height: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
fieldset.background legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}
fieldset.background div {
  display: flex;
  flex-direction: column;
}
fieldset.background input[type=color] {
  width: 48px;
  height: 48px;
  border: none;
}

fieldset.fill {
  width: 100%;
  height: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
fieldset.fill legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}
fieldset.fill div {
  display: flex;
  flex-direction: column;
}
fieldset.fill input[type=color] {
  width: 48px;
  height: 48px;
  border: none;
}

fieldset.grid {
  width: 100%;
  height: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
fieldset.grid legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}
fieldset.grid div {
  display: flex;
  flex-direction: column;
}
fieldset.grid input[type=color] {
  width: 48px;
  height: 48px;
  border: none;
}

fieldset.waveform {
  width: 100%;
  height: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
fieldset.waveform legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}
fieldset.waveform input[type=color] {
  width: 48px;
  border: none;
}
fieldset.waveform input[type=range] {
  width: 128px;
}
fieldset.waveform div#waveforms {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}
fieldset.waveform div#waveforms label img {
  width: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid grey;
  border-radius: 2px;
}
fieldset.waveform div#waveforms label.selected img {
  border: 1.5px solid black;
}
fieldset.waveform div#waveforms input[type=radio] {
  display: none;
}
fieldset.waveform div#settings {
  display: flex;
  flex-direction: column;
}
fieldset.waveform div#settings div.panel {
  height: 140px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid grey;
  border-radius: 4px;
}
fieldset.waveform div#settings div.panel.hidden {
  display: none;
}
fieldset.waveform div#settings div.line {
  --gradient: linear-gradient(90deg, #80ccffff 0%, #80ccffff 100%, #80ccff00 100%);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto 1fr;
  column-gap: 12px;
}
fieldset.waveform div#settings div.line wav2png-gradient {
  grid-column: 1;
  grid-row: 1/4;
}
fieldset.waveform div#settings div.line wav2png-rgba {
  grid-column: 2;
  grid-row: 2;
}
fieldset.waveform div#settings div.gradient {
  --gradient: linear-gradient(90deg, #80ccffff 0%, #80ccffff 0%, #80ccffff 100%, #00000000 100%);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 1fr auto;
  column-gap: 12px;
}
fieldset.waveform div#settings div.gradient #g2gradient1 {
  grid-column: 1;
  grid-row: 1/4;
}
fieldset.waveform div#settings div.gradient #g2gradient2 {
  grid-column: 2;
  grid-row: 1/4;
}
fieldset.waveform div#settings div.gradient #g2rgba1 {
  grid-column: 3;
  grid-row: 3;
}
fieldset.waveform div#settings div.gradient #g2rgba2 {
  grid-column: 3;
  grid-row: 1;
}
fieldset.waveform div#settings div.gradient3 {
  --gradient: linear-gradient(90deg, #80ccffff 0%, #80ccff40 50%, #80ccff80 100%);
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  column-gap: 12px;
}
fieldset.waveform div#settings div.gradient3 #g3gradient1 {
  grid-column: 1;
  grid-row: 1/7;
}
fieldset.waveform div#settings div.gradient3 #g3gradient2 {
  grid-column: 2;
  grid-row: 1/7;
}
fieldset.waveform div#settings div.gradient3 #g3gradient3 {
  grid-column: 3;
  grid-row: 1/7;
}
fieldset.waveform div#settings div.gradient3 #g3rgb1 {
  grid-column: 4;
  grid-row: 5;
}
fieldset.waveform div#settings div.gradient3 #g3alpha1 {
  grid-column: 4;
  grid-row: 6;
}
fieldset.waveform div#settings div.gradient3 #g3rgb2 {
  grid-column: 4;
  grid-row: 3;
}
fieldset.waveform div#settings div.gradient3 #g3alpha2 {
  grid-column: 4;
  grid-row: 4;
}
fieldset.waveform div#settings div.gradient3 #g3rgb3 {
  grid-column: 4;
  grid-row: 1;
}
fieldset.waveform div#settings div.gradient3 #g3alpha3 {
  grid-column: 4;
  grid-row: 2;
}

canvas.overlay {
  background: transparent;
  border: none;
  outline: none;
}

#wav2png-rgba {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#wav2png-rgba input[type=color] {
  width: 48px;
  border: none;
}
#wav2png-rgba input[type=range] {
  width: 128px;
}

#wav2png-gradient {
  width: 0px;
  height: 100%;
  margin-left: 8px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
#wav2png-gradient input.slider {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  transform: translate(-50%, 0%) rotate(-90deg);
  -webkit-appearance: none;
}
#wav2png-gradient input.slider:focus {
  outline: none;
}
#wav2png-gradient input.slider::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  background: #ffffff;
  margin-top: -3.5px;
  padding-top: 2px;
  border: 1px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  -webkit-appearance: none;
}
#wav2png-gradient input.slider::-webkit-slider-runnable-track {
  height: 6px;
  width: 100%;
  background: var(--gradient);
  border: 1px solid #000000;
  border-radius: 2px;
  cursor: pointer;
}
div#x-axis {
  display: grid;
  grid-template-columns: auto 100px 1fr auto auto auto 1fr 100px auto;
  grid-template-rows: auto;
}
div#x-axis button {
  border: none;
  outline: none;
  user-select: none;
  visibility: hidden;
}
div#x-axis button.arrow {
  margin-top: -92px;
}
div#x-axis button.arrow img {
  width: 24px;
}
div#x-axis button.size {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid black;
  border-radius: 4px;
}
div#x-axis button.size img {
  width: 20px;
}
div#x-axis button:enabled {
  visibility: visible;
  cursor: pointer;
}
div#x-axis button#left {
  margin-left: -32px;
}
div#x-axis button#right {
  margin-right: -32px;
}
div#x-axis button#minus {
  margin-right: 32px;
}
div#x-axis button#plus {
  margin-left: 32px;
}
div#x-axis label {
  font-family: sans-serif;
  font-size: 0.7em;
}
div#x-axis img.dimension {
  height: 12px;
}
div#x-axis #start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  visibility: hidden;
}
div#x-axis #start.visible {
  visibility: visible;
}
div#x-axis #end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 4px;
  visibility: hidden;
}
div#x-axis #end.visible {
  visibility: visible;
}
div#x-axis #duration {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
div#x-axis #duration.visible {
  visibility: visible;
}
