@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lato/Lato-Semibold.ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato/Lato-Regular.ttf");
}
* {
  background: transparent;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato";
}

legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}

fieldset.fill {
  width: 100%;
  height: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
fieldset.fill legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}
fieldset.fill div {
  display: flex;
  flex-direction: column;
}
fieldset.fill input[type=color] {
  width: 48px;
  height: 48px;
  border: none;
}
fieldset.fill input[type=range] {
  width: 128px;
}

fieldset.grid {
  width: 100%;
  height: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
fieldset.grid legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}
fieldset.grid div {
  display: flex;
  flex-direction: column;
}
fieldset.grid input[type=color] {
  width: 48px;
  height: 48px;
  border: none;
}
fieldset.grid input[type=range] {
  width: 128px;
}

fieldset.waveform {
  width: 100%;
  height: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
fieldset.waveform legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}
fieldset.waveform div {
  display: flex;
  flex-direction: column;
}
fieldset.waveform input[type=color] {
  width: 48px;
  height: 48px;
  border: none;
}
fieldset.waveform input[type=range] {
  width: 128px;
}

canvas.overlay {
  background: transparent;
  border: none;
  outline: none;
}
