@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lato/Lato-Semibold.ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato/Lato-Regular.ttf");
}
* {
  background: transparent;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato";
}

legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}

fieldset.fill {
  width: 100%;
  height: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
fieldset.fill legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}
fieldset.fill div {
  display: flex;
  flex-direction: column;
}
fieldset.fill input[type=color] {
  width: 48px;
  height: 48px;
  border: none;
}
fieldset.fill input[type=range] {
  width: 128px;
}

fieldset.grid {
  width: 100%;
  height: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
fieldset.grid legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}
fieldset.grid div {
  display: flex;
  flex-direction: column;
}
fieldset.grid input[type=color] {
  width: 48px;
  height: 48px;
  border: none;
}
fieldset.grid input[type=range] {
  width: 128px;
}

fieldset.waveform {
  width: 100%;
  height: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
fieldset.waveform legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}
fieldset.waveform input[type=color] {
  width: 48px;
  border: none;
}
fieldset.waveform input[type=range] {
  width: 128px;
}
fieldset.waveform div#waveforms {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}
fieldset.waveform div#waveforms label img {
  width: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid grey;
  border-radius: 2px;
}
fieldset.waveform div#waveforms label.selected img {
  border: 1.5px solid black;
}
fieldset.waveform div#waveforms input[type=radio] {
  display: none;
}
fieldset.waveform div#settings {
  display: flex;
  flex-direction: column;
}
fieldset.waveform div#settings div.line {
  margin-top: 8px;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "exemplar swatch" "exemplar alpha";
  column-gap: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid grey;
  border-radius: 4px;
}
fieldset.waveform div#settings div.line .exemplar {
  grid-area: exemplar;
  height: 48px;
}
fieldset.waveform div#settings div.line input.swatch {
  grid-area: swatch;
}
fieldset.waveform div#settings div.line input.alpha {
  grid-area: alpha;
}
fieldset.waveform div#settings div.line.hidden {
  display: none;
}
fieldset.waveform div#settings div.gradient {
  margin-top: 8px;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "exemplar swatch2" "exemplar alpha2" "exemplar swatch1" "exemplar alpha1";
  column-gap: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid grey;
  border-radius: 4px;
}
fieldset.waveform div#settings div.gradient .exemplar {
  grid-area: exemplar;
  width: 14px;
  height: 100%;
}
fieldset.waveform div#settings div.gradient input.rgb1 {
  grid-area: swatch1;
}
fieldset.waveform div#settings div.gradient input.alpha1 {
  grid-area: alpha1;
}
fieldset.waveform div#settings div.gradient input.rgb2 {
  grid-area: swatch2;
}
fieldset.waveform div#settings div.gradient input.alpha2 {
  grid-area: alpha2;
}
fieldset.waveform div#settings div.gradient.hidden {
  display: none;
}

canvas.overlay {
  background: transparent;
  border: none;
  outline: none;
}

div#x-axis {
  display: grid;
  grid-template-columns: auto 100px 1fr auto auto auto 1fr 100px auto;
  grid-template-rows: auto;
}
div#x-axis button {
  border: none;
  outline: none;
  user-select: none;
  visibility: hidden;
}
div#x-axis button.arrow {
  margin-top: -92px;
}
div#x-axis button.arrow img {
  width: 24px;
}
div#x-axis button.size {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid black;
  border-radius: 4px;
}
div#x-axis button.size img {
  width: 20px;
}
div#x-axis button:enabled {
  visibility: visible;
  cursor: pointer;
}
div#x-axis button#left {
  margin-left: -32px;
}
div#x-axis button#right {
  margin-right: -32px;
}
div#x-axis button#minus {
  margin-right: 32px;
}
div#x-axis button#plus {
  margin-left: 32px;
}
div#x-axis label {
  font-family: sans-serif;
  font-size: 0.7em;
}
div#x-axis img.dimension {
  height: 12px;
}
div#x-axis #start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  visibility: hidden;
}
div#x-axis #start.visible {
  visibility: visible;
}
div#x-axis #end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 4px;
  visibility: hidden;
}
div#x-axis #end.visible {
  visibility: visible;
}
div#x-axis #duration {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
div#x-axis #duration.visible {
  visibility: visible;
}
