@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lato/Lato-Semibold.ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato/Lato-Regular.ttf");
}
:root {
  --background: #fad5a5;
}

* {
  background: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato";
}

a {
  color: #222222;
  text-decoration: none;
}

a:visited {
  color: #222222;
}

html {
  height: 100%;
}

body {
  background: var(--background);
  background-image: url("/images/textures/ep_naturalwhite.webp");
  background-blend-mode: luminosity;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: start;
  column-gap: 16px;
}

img#logo {
  grid-column: 1;
  grid-row: 1;
  width: 80px;
  margin-top: 16px;
  margin-left: 16px;
}

div#samples {
  grid-column: 1;
  grid-row: 2/3;
  align-self: start;
  margin-top: 64px;
}
div#samples ul {
  list-style: none;
}
div#samples li {
  font-variant: all-small-caps;
}

main {
  grid-column: 2;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "overview unused1 unused2" "canvas toolbar toolbox" "xaxis unused3 unused4";
  column-gap: 8px;
  row-gap: 2px;
  margin-top: 32px;
}

div#overview {
  grid-area: overview;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
div#overview canvas {
  width: 960px;
  height: 80px;
  border-radius: 4px;
  outline: none;
}
div#overview wav2png-overlay {
  border-radius: 4px;
}
div#overview wav2png-overlay::part(canvas) {
  width: 960px;
  height: 80px;
}
div#overview .canvas {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  background: #222222;
}
div#overview .overlay {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
}

div#workspace {
  grid-area: canvas;
}

div#toolbar {
  grid-area: toolbar;
}

div#toolbox {
  grid-area: toolbox;
}

#x-axis {
  grid-area: xaxis;
}

div#workspace {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 8px;
}
div#workspace #canvas {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background: #ffffff;
  border-radius: 4px;
}
div#workspace #canvas canvas {
  grid-column: 1;
  grid-row: 1;
  width: 960px;
  height: 540px;
  border-radius: 4px;
}
div#workspace #canvas .overlay {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 4px;
  z-index: 2;
}

div#toolbar {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
div#toolbar button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid black;
  border-radius: 4px;
  filter: invert(88%) sepia(0%) saturate(1%) hue-rotate(168deg) brightness(78%) contrast(87%);
  outline: none;
  user-select: none;
}
div#toolbar button img {
  width: 20px;
  height: 20px;
}
div#toolbar button:enabled {
  cursor: pointer;
  filter: none;
}

div#toolbox {
  width: 100%;
  height: 100%;
  min-width: 160px;
  margin-top: -8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
div#toolbox fieldset {
  width: 100%;
  height: 100%;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 16px;
}
div#toolbox fieldset legend {
  padding-left: 2px;
  padding-right: 2px;
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  white-space: nowrap;
}

wav2png-xaxis {
  width: 100%;
}

div#picker {
  display: flex;
  justify-content: center;
  align-items: center;
}

#windmill {
  display: none;
  margin-top: -150px;
  margin-left: -150px;
}

#windmill.visible {
  display: block;
}

#windmill:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-top: 12px solid #daa520;
  border-right: 2px solid transparent;
  animation: windmill 1.25s linear infinite;
}

#windmill.visible {
  display: block;
  visibility: visible;
}

@keyframes windmill {
  to {
    transform: rotate(360deg);
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div#unsupported {
  margin-top: 128px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid grey;
  border-radius: 4px;
}
div#unsupported div {
  margin-bottom: 32px;
}
div#unsupported ul {
  margin-top: 8px;
  list-style: inside;
}
