@charset "UTF-8";

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Lato/Lato-Semibold.ttf');
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Lato/Lato-Regular.ttf');
}


