#wav2png-gradient {
    width: fit-content;
    height: 100%;
    margin-left: 8px;

    display: flex;
    column-gap: 6px;

    #slider1 {
    }

    #slider2 {
    }

    #slider3 {
    }

    input.slider {
        width: 10px;
        height: 100%;
        appearance: slider-vertical;
    }

    input.slider:focus {
        outline: none; 
    }

    input.sliderx::-webkit-slider-thumb {
        height: 12px;
        width: 12px;
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 8px;
        cursor: pointer;
    }

    input.sliderx::-webkit-slider-runnable-track {
        width: 8px;
        background: var(--gradient);
        border: 1px solid #000000;
        border-radius: 2px;
        cursor: pointer;

        -webkit-appearance: none;
    }

    input.slider::focus::-webkit-slider-runnable-track {
    }
}
