fieldset.waveform {
    width: 100%;
    height: fit-content;
    border: 1px solid #c0c0c0;
    border-radius: 8px;

    padding-top: 4px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;

    legend {
        padding-left: 2px;
        padding-right: 2px;

        color: grey;
        font-family: sans-serif;
        font-style: italic;
        font-size: 0.8em;
        white-space: nowrap;  
    }

    input[type="color"] {
        width: 48px;
        border: none;
    }

    input[type="range"] {
        width: 128px;
    }

    div#waveforms {
        display: flex;
        flex-direction: row;
        column-gap: 4px;

        label img {
            width: 24px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 2px;
            padding-right: 2px;

            border: $border-unselected;
            border-radius: 2px;
        }

        label.selected img {
            border: $border-selected;
        }

        input[type="radio"] {
            display: none;
        }
    }

    div#settings {
        display: flex;
        flex-direction: column;

        div.line {
            margin-top: 8px;
            margin-bottom: 8px;

            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-template-areas: "exemplar swatch" "exemplar alpha";
            column-gap: 12px;

            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;

            border: 1px solid grey;
            border-radius: 4px;

            .exemplar {
                grid-area: exemplar;
                height: 48px;
            }

            input.swatch {
                grid-area: swatch;
            }

            input.alpha {
                grid-area: alpha;
            }
        }

        div.line.hidden {
            display: none;
        }

        div.gradient {
            margin-top: 8px;
            margin-bottom: 8px;

            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: "exemplar swatch2" "exemplar alpha2" "exemplar swatch1" "exemplar alpha1";
            column-gap: 12px;

            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;

            border: 1px solid grey;
            border-radius: 4px;

            .exemplar {
                grid-area: exemplar;
                width: 14px;
                height: 100%;
            }

            input.rgb1 {
                grid-area: swatch1;
            }

            input.alpha1 {
                grid-area: alpha1;
            }

            input.rgb2 {
                grid-area: swatch2;
            }

            input.alpha2 {
                grid-area: alpha2;
            }
        }

        div.gradient.hidden {
            display: none;
        }

    }
}
