fieldset.waveform {
    width: 100%;
    height: fit-content;
    border: 1px solid #c0c0c0;
    border-radius: 8px;

    padding-top: 4px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;

    legend {
        padding-left: 2px;
        padding-right: 2px;

        color: grey;
        font-family: sans-serif;
        font-style: italic;
        font-size: 0.8em;
        white-space: nowrap;  
    }

    input[type="color"] {
        width: 48px;
        border: none;
    }

    input[type="range"] {
        width: 128px;
    }

    div#waveforms {
        display: flex;
        flex-direction: row;
        column-gap: 4px;

        label img {
            width: 24px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 2px;
            padding-right: 2px;

            border: $border-unselected;
            border-radius: 2px;
        }

        label.selected img {
            border: $border-selected;
        }

        input[type="radio"] {
            display: none;
        }
    }

    div#settings {
        display: flex;
        flex-direction: column;

        div.panel {
            height: 140px;
            margin-top: 8px;
            margin-bottom: 8px;            

            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;

            border: 1px solid grey;
            border-radius: 4px;
        }

        div.line {
            --gradient: linear-gradient(90deg, #80ccffff 0%, #80ccffff 100%, #80ccff00 100%);

            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 1fr auto auto 1fr;
            column-gap: 12px;

            wav2png-gradient {
                grid-column: 1;
                grid-row: 1 / 5;
            }

            input.swatch {
                grid-column: 2;
                grid-row: 2;
            }

            input.alpha {
                grid-column: 2;
                grid-row: 3;
            }
        }

        div.line.hidden {
            display: none;
        }

        div.gradient {
            --gradient: linear-gradient(90deg, #80ccffff 0%, #80ccffff 100%, #80ccff00 100%);

            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto 1fr auto auto;
            column-gap: 12px;

            wav2png-gradient {
                grid-column: 1;
                grid-row: 1 / 6;
            }

            input#rgb1 {
                grid-column: 2;
                grid-row: 4;
            }

            input#alpha1 {
                grid-column: 2;
                grid-row: 5;
            }

            input#rgb2 {
                grid-column: 2;
                grid-row: 1;
            }

            input#alpha2 {
                grid-column: 2;
                grid-row: 2;
            }
        }

        div.gradient.hidden {
            display: none;
        }


        div.gradient3 {
            --gradient: linear-gradient(90deg, #80ccffff 0%, #80ccff40 50%, #80ccff80 100%);
            
            display: grid;
            grid-template-columns: 14px auto;
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-areas: 
                "exemplar swatch3" 
                "exemplar alpha3" 
                "exemplar swatch2" 
                "exemplar alpha2" 
                "exemplar swatch1" 
                "exemplar alpha1";
            column-gap: 12px;

            input.exemplar {       
                grid-area: exemplar;
                transform: rotate(-90deg);
                place-self: center;
                -webkit-appearance: none;
            }

            input.exemplar:focus {
                outline: none; 
            }

            input.exemplar::-webkit-slider-thumb {
                height: 12px;
                width: 12px;
                background: #ffffff;
                margin-top: -3.5px;
                padding-top: 2px;
                border: 1px solid #000000;
                border-radius: 8px;
                cursor: pointer;

                -webkit-appearance: none;
            }

            input.exemplar::-webkit-slider-runnable-track {
                height: 6px;
                width: 100%;
                background: var(--gradient);
                border: 1px solid #000000;
                border-radius: 2px;
                cursor: pointer;
            }

            input.exemplar::focus::-webkit-slider-runnable-track {
            }    

            input.rgb1 {
                grid-area: swatch1;
            }

            input.alpha1 {
                grid-area: alpha1;
            }

            input.rgb2 {
                grid-area: swatch2;
            }

            input.alpha2 {
                grid-area: alpha2;
            }

            input.rgb3 {
                grid-area: swatch3;
            }

            input.alpha3 {
                grid-area: alpha3;
            }
        }

        div.gradient3.hidden {
            display: none;
        }
    }
}
